-- Check if tables exist
SELECT table_name FROM information_schema.tables WHERE table_schema = 'public' AND table_name IN ('dating_forms', 'form_applications');

-- Check form_applications columns
SELECT column_name, data_type, is_nullable FROM information_schema.columns WHERE table_name = 'form_applications' ORDER BY ordinal_position;
