-- Create the dating forms tables
CREATE TABLE IF NOT EXISTS dating_forms (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  title TEXT NOT NULL,
  description TEXT,
  fields JSONB DEFAULT '[]'::jsonb,
  status TEXT DEFAULT 'draft' CHECK (status IN ('draft', 'active', 'inactive')),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS form_applications (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  form_id UUID REFERENCES dating_forms(id) ON DELETE CASCADE,
  form_owner_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  applicant_data JSONB DEFAULT '{}'::jsonb,
  status TEXT DEFAULT 'new' CHECK (status IN ('new', 'shortlisted', 'archived')),
  ai_score DECIMAL(5,2),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create indexes
CREATE INDEX IF NOT EXISTS idx_dating_forms_user_id ON dating_forms(user_id);
CREATE INDEX IF NOT EXISTS idx_form_applications_form_id ON form_applications(form_id);

-- Update triggers
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS EOF
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
EOF language 'plpgsql';

CREATE TRIGGER update_dating_forms_updated_at BEFORE UPDATE ON dating_forms FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
CREATE TRIGGER update_form_applications_updated_at BEFORE UPDATE ON form_applications FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
